{% extends 'base.html' %}
{% load static %}

{%  block content %}
<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">Start</a></li>
                <li><a href="#train">Create Model</a></li>
                <li><a href="#filter">Filter File</a></li>
            </ul>
        </nav>
    </div>
</section>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Intro -->
    <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
            <h1> Prepare audio files for training. </h1>
            <h4>(In .wav format and 16 or 32 bit)</h4>
            <!-- <ul><li><a href="#train" class="button">Upload</a></li></ul> -->
        </div>
    </section>

    <!-- Train wrapper style2 spotlights -->
    <section id="train" class="wrapper style2 fullscreen spotlights">
          <div class="inner">
              <h2>Train a model for your problem.</h2>

              <form action="{% url 'train' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <h5>Provide sample of your voice</h5>
                  <input name="noisy_train" type="file" onchange="loader1();"/><br><br>
                  <h5>Provide sample of noise</h5>
                  <input name="clear_train" type="file" onchange="loader1();"/><br><br>
                  <input type="submit" class="button small" value="Train" onclick="loader2();" id="loader3"/>
              </form>

                <br><div id="loader1">
                    Please wait for training to end.
                </div>
{#                <div id="spinner" class="not-visible">#}
{#                <div class="spinner-border" role="status">#}
{#                    <span class="sr-only">Loading...</span>#}
{#                </div></div>#}

              {% autoescape off %}
              {{ plot }}
              {% endautoescape %}
          </div>
    </section>

    <!-- Filter -->
    <section id="filter" class="wrapper style3 fullscreen fade-up">
        <div class="inner">
            <h2>Filter File</h2>
            <p>Provide file to extract voice from.</p>
            <div class="split style1">
                <section>
                  <form action="{% url 'filter' %}"
                        method="post"
                        enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="fallback">
                      <input name="noisy_file" type="file"/>
                      <input type="submit" value="Filter" class="button small" onclick="loader3();"/>
                    </div>

                  </form>
                     <div id="loader2">
                        You can download filtered audio file.
                    </div>
                    <form action="{% url 'download' %}" method="get">
                        <br><input type="submit" value="Download"/>
                    </form>
                </section>
                <section>
                    <br><br>
                    <form action="{% url 'plots' %}">
                        <input type="submit" class="button" value="Check model performance"/>
                    </form>
                </section>
            </div>
        </div>
    </section>
</div>

{% endblock content %}